POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

NOTION_TOKEN=
NOTION_DATABASE_ID=

GESTTA_TOKEN_PATH=

SLACK_WEBHOOK_URL=

POWERBI_DATASET_NAME=
CHROME_USER_DATA_DIR=
CHROME_PROFILE_DIR=
